<center> <br /><h1>Admin Sign in</h1>
<%= form_tag admincreate_path do %>
    <table>   
     <tr>  
          <td><center> <b> <%= label_tag :email %></td> </tr>
            <tr><td><%= text_field_tag :email %> </td>
        </tr>
        <tr>  
          <td> <center><b> <%= label_tag :password %></td></tr>  <br />
           <td><%= password_field_tag :password %> <br /> </td>
        </tr>    

   </table>
   <br>
   		       <div id ="button"><%= submit_tag "Sign in" %></div> <br><br><br>
<% end %>
