<!DOCTYPE html>
 <html>
 <head>
 	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
 </head>
   <body>
	<div id= "mydiv">
 	<h1 style="color:#045FB4"> Route Planner Pro!</h1> 
 	 <p> Dear <b><%= @user.name %></b>, </p>
 	<p>You have successfully created a new vehicle.   </p>  
 	<p> <b> Vehicle: </b> <%= @vehicle.reg %> <br />
 	<b> Deccription: </b> <%= @vehicle.decription %> <br />
	<b> Height: </b> <%= @vehicle.height %> <br />
	<b> Trailer Height: </b> <%= @vehicle.trailer %> <br />
	</p>
 	<p>Plan your next route now!</p> 
 	<p>Kind Regards, <br /> 
 	<i>Andrew Rice </i></p>
 	<p style="color:#045FB4">CEO Route Planner Pro</p> 
 	
 	</div> 
 	
 	</div> 
   </body> 
 </html> 
