<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b><br />
  <%= @admin.name %>
</p>
<br />
<p>
  <b>Email:</b><br />
  <%= @admin.email %>
</p>
<br />
<p>
  <b>Position:</b><br />
  <%= @admin.position %>
</p>
<br />

<%= link_to 'Edit', edit_admin_path(@admin) %> |
<b><%= link_to 'Create new admin', new_admin_path %> </b>|
<b><%= link_to 'View Administrators', admins_path %> </b>


