<center><p id="notice"><%= notice %></p>

<p>
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@marker.latitude}%2C#{@marker.longitude}" %>
</p>
<table class="hovertable2">
<tr>

  <tr>
    <th><%= "Address" %></th>
    <th><%= "County" %></th>
    <th><%= "Height" %></th>
    <th>Latitude</th>
    <th>Longitude</th>
  
  </tr>
  <tr>
    <td><%= @marker.address %></td>
    <td><%= @marker.county %></td>
    <% if @marker.height == 0 %>
      <td> <b>Narrow Bridge </b></td>
   <% else %>
       <td><%= @marker.height %></td>
    <% end %>
    <td><%= @marker.latitude %></td>
    <td><%= @marker.longitude %></td>

</tr>
</table>
<br />

<% if !adminsigned_in? %>
      <% else %>
<%= link_to 'Edit Bridge Details', edit_marker_path(@marker) %> |
<% end %>
<%= link_to 'Return to Bridge Locations', markers_path %>
