<center><p id="notice"><%= notice %></p>

<p>
        <%= image_tag("user.jpg", :size=> "350x250") %> <br>
</p>
<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<b>Vehicles:</b>
  <%#= @user.vehicle %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
