<center><p id="notice"><%= notice %></p>

<p>
      <td><img src="<%= @user.profileImage %>"width="250" height="250" align="center"></td>

</p>
<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<table class="hovertable">

  <tr>
    <th>Reg</th>
    <th>Description</th>
    <th>Height</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
   
  </tr>
<b>Vehicles:</b>
 

<% @user.vehicles.each do |vehicle| %>
    <tr>
      <td><%= vehicle.reg%></td>
      <td><%= vehicle.decription %></td>
      <td><%= vehicle.height %> m</td> 
      <td><img src="<%= vehicle.carImageUploader %>"width="45" height="25" align="center"></td>
       <td><%= link_to 'View', vehicle %></td>
    <td><%= link_to 'Update', edit_vehicle_path(vehicle) %></td>
    <td><%= link_to 'Delete', vehicle, confirm: 'Are you sure?', method: :delete %></td>
      <% end %>
      </tr>

</p>
</table> <br />

<%= link_to 'Edit Profile', edit_user_path(@user) %> |
<%= link_to 'Home', pages_home_path %>
