<h1>Admin test page </h1>
<br>

 <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Route Planner Pro</title>


<center>
<h1>Plan you journey</h1>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/routeboxer/src/RouteBoxer.js" type="text/javascript"></script>
<script>
var rendererOptions = {
  draggable: true
};
var directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);;
var directionsService = new google.maps.DirectionsService();
var map;
//routeboxer
var boxpolys = null;
var routeBoxer = null;
var middleMap = new google.maps.LatLng(53.424878,-7.940766);


function initialize() {
  var mapOptions = {
    zoom: 7,
    center: middleMap,
    scrollwheel: false
  };

  map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  routeBoxer = new RouteBoxer();
  directionsDisplay.setMap(map);
  directionsDisplay.setPanel(document.getElementById('directionsPanel'));

  google.maps.event.addListener(directionsDisplay, 'directions_changed', function() {
    computeTotalDistance(directionsDisplay.getDirections());
  });

}


function calcRoute() {
  //window.location.reload();
  var totalCount = 0;
  var narrowCount = 0;
  var count = 0;
  var dangercount = 0;
  <% @markers.each do |m| %>                  
    var bridge = new google.maps.LatLng(<%= m.latitude %>, <%= m.longitude %>);
    var myHeight = <%= m.height %>;
    var markerz = new google.maps.Marker({position:bridge});
    markerz.setMap(map); 
  <% end %>
//routeboxer
 clearBoxes();

  var startPoint = document.getElementById("start").value
  var endPoint = document.getElementById("dest").value
  var stopPoint = document.getElementById("stop").value
  var distance =  document.getElementById("accuracy").value

  var request = {
    origin: startPoint,
    destination: endPoint,
    waypoints:[{location: stopPoint}],
    provideRouteAlternatives: true,
    travelMode: google.maps.TravelMode.DRIVING
  };

  directionsService.route(request, function(response, status) {
    if (status == google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);
    }
      //routeboxer
       var path = response.routes[0].overview_path;
       var boxes = routeBoxer.box(path, distance);
          drawBoxes(boxes);
      document.getElementById('points').innerHTML = "Points along this route: <br /><b>" + path.length + " total</b>  "; 
      document.getElementById('boxes').innerHTML = "Boxes along this route:  <br /><b>" + boxes.length + " total</b>"; + boxes;


  var vehicleHeight = document.getElementById("vehicle").value
  var intVehicle = parseInt(vehicleHeight)

<% @markers.each do |m| %> 
  var bridge1 = new google.maps.LatLng(<%= m.latitude %>, <%= m.longitude %>);  
  var marker1 = new google.maps.Marker({position: bridge1, map:map});
  var height = <%= m.height %>

for (var i = 0; i < boxes.length; i++) {


 var northeast = boxes[i].getNorthEast();
 var southwest = boxes[i].getSouthWest();
 var lat_north = northeast.lat();
 var long_east = northeast.lng();
 var lat_south = southwest.lat();
 var long_west = southwest.lng();

var latlng1 =  new google.maps.LatLng(lat_south, long_west);
var latlng2 = new google.maps.LatLng(lat_south, long_east);
var latlng3 = new google.maps.LatLng(lat_north, long_east);
var latlng4 = new google.maps.LatLng(lat_north, long_west);


var myBox = [latlng1, latlng2, latlng3, latlng4];

   // var marker = new google.maps.Marker({position: latlng1, map:map});
   // var marker = new google.maps.Marker({position: latlng2, map:map});
   // var marker = new google.maps.Marker({position: latlng3, map:map});
   // var marker = new google.maps.Marker({position: latlng4, map:map});



var contentString = '<div class="infowin">' +
        '<h5 id="h5style">LOW BRIDGE</h5>' +
        '<table class = "infotable" width="190" border="0" cellpadding="0" cellspacing="3">' +
        '<tr>' +
         '<th scope="row">Height:</th>' +
      '<td>' + height + 'm </td>' +
      '</tr>'  +
      '<th scope="row">Latitude:</th>' +
      '<td>' + <%= m.latitude %> + '<br />' +
      '</tr>' +
      '<th scope="row">Longitude:</th>' +
      '<td>' + <%= m.longitude %> +
      '</tr>' +
      '</table>' +
      '</div>';

var narrowString = '<div class="infowin">' +
        '<h5 id="h5style">NARROW BRIDGE</h5>' +
        '<table class = "infotable" width="190" border="0" cellpadding="0" cellspacing="3">' +
        '<tr>' +
      '<th scope="row">Latitude:</th>' +
      '<td>' + <%= m.latitude %> + '<br />' +
      '</tr>' +
      '<th scope="row">Longitude:</th>' +
      '<td>' + <%= m.longitude %> +
      '</tr>' +
      '</table>' +
      '</div>';


var bounds = new google.maps.LatLngBounds(southwest, northeast);

var withinBox = new google.maps.Polygon({
    paths: myBox
  });
totalCount++;

if(google.maps.geometry.poly.containsLocation(bridge1, withinBox)){
  var loc = document.getElementById('locations');
  loc.appendChild(document.createTextNode(height + " meters "));
    count ++;
      document.getElementById('bridgeroute').innerHTML = "Number of bridges on your route: <br /><b>" + count + "</b>";
      if(height == 0) {
        narrowCount++;
         var infowindowN = new google.maps.InfoWindow({content: narrowString});
          infowindowN.open(map, marker1);  
      document.getElementById('narrowbridge').innerHTML = "Number of narrow bridges on your route: <br /><b>" + narrowCount + "</b>";
      }
      if(height > 0){
        if (intVehicle > height) {
          dangercount ++;
          var infowindow = new google.maps.InfoWindow({content: contentString});
          infowindow.open(map, marker1);  
            document.getElementById('bridgeroute2').innerHTML = "Number of bridges too low your route: <br /><b>" + dangercount + "</b>";
        }
      }
 document.getElementById('check').innerHTML = "Checks carried out: <br /><b> " + totalCount + "</b>";
}

}
<% end %>
});
  //routeboxer
  function drawBoxes(boxes) {
      boxpolys = new Array(boxes.length);
      for (var i = 0; i < boxes.length; i++) {
        boxpolys[i] = new google.maps.Rectangle({
          bounds: boxes[i],
          fillOpacity: 0,
          strokeOpacity: 1.0,
          strokeColor: '#000000',
          strokeWeight: 1,
          map: map
        });
      }
    }

  //routeboxer    
  function clearBoxes() {
      if (boxpolys != null) {
        for (var i = 0; i < boxpolys.length; i++) {
          boxpolys[i].setMap(null);
        }
      }
      boxpolys = null;
    }
}

  
function computeTotalDistance(result) {
  var total = 0;
  var myroute = result.routes[0];
  for (var i = 0; i < myroute.legs.length; i++) {
    total += myroute.legs[i].distance.value;
  }
  total = total / 1000.0;
  document.getElementById('total').innerHTML = "Total Distance: <br /><b>" + total + ' km </b>';
}

  google.maps.event.addDomListener(window, 'load', initialize);
   </script>
   <body>
  <div style="color:#58ACFA">


  <H2>  Please enter your starting point and destination </H2>
  <form id= "routeform"> <b>
      <div id="map-canvas" style="float:left"> <br ></div>
      <br />
      <label for="start">Start point:</label><input type="text" id="start" value="Newbrook road, Mullingar"> <br>
      <label for="stop">Stop point:</label><input type="text" id="stop" value="Harbour Street, Mullingar"> <br>
      <label for="dest">Destination:</label><input type="text" id="dest" value="Athboy">  <br>
      <label for="">Vehicle Height(m):</label><input type="text" id="vehicle" value="4">  <br>
      <label for="">Accuracy:(km)</label><input type="text" id="accuracy" value="1">  <br>


  </b><br>
 <div style="margin: 10px 0px 10px 700px; background-color: white; width: 300px; border: 2px solid Grey">
  <p><b><span id="total", :placeholder => Route Details will load here </span></b></p>
  <br /> <p id="points"></p>
  <br /> <p id="boxes"></p>
  <br /> <p id="check"></p>
  <br /> <p id="bridgeroute"><br /></p>
  <h5 id="h5style"><br /><p id="narrowbridge"></p></h5> 
  <h5 id="h5style"><br /><p id="bridgeroute2"></p></h5> 
    </div> 
  </form>
      <button type="submit" onclick= "calcRoute()"> Submit </button> 
      <input type="submit" value="Clear Page" onClick="window.location.reload()">
    <h2> Bridges along your route: </h2>
        <div id="directionsPanel" style="float:left;width:55%;height 90%"> </div>
     <div style="margin: 10px 0px 10px 700px; background-color: white; width: 300px; border: 2px solid Grey">
     <p id="locations"></p>
     </div>
 </center>

</body>
