<center>
  <% if !signed_in? %>
  Please sign in to plan your journey or <h3><%= link_to "Sign up now!", new_user_path %></h3> </li>
  <% else %>
  <%end %>
 <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script>
var rendererOptions = {
  draggable: true
};
var map;

var middleMap = new google.maps.LatLng(53.227755, -7.878802);

function initialize() {
  var mapOptions = {
    zoom: 7,
    center: middleMap,
    scrollwheel: false
  };


map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  <% @markers.each do |m| %>                  
      var bridge = new google.maps.LatLng(<%= m.latitude %>, <%= m.longitude %>);
      var myHeight = <%= m.height %>;
      var marker = new google.maps.Marker({position:bridge });
      marker.setMap(map);


 if (myHeight == "0") {
        var bridgeType =  '<th scope="row">Width:</th>  <td> <b><i> Narrow</i> </b></td>'
    } else {
     bridgeType =  '<th scope="row">Height:</th>  <td id= "mytd">' + myHeight +' m </td>'
         }

var contentString = '<div class="infowin">' +
        '<h5 id="h5style">Bridge Details</h5>' +
        '<table class = "infotable" width="190" border="0" cellpadding="0" cellspacing="3">' +
        '<tr>' +
         '<th scope="row">Address:</th>' +
      '<td>' + "<%= m.address %>" + '</td>' +
      '</tr>' +
      '<th scope="row">County:</th>' +
      '<td>' + "<%= m.county %>" + '</td>' +
      '</tr>' + bridgeType +'</tr>' +
      '<th scope="row">Latitude:</th>' +
      '<td>' + <%= m.latitude %> + '<br />' +
      '</tr>' +
      '<th scope="row">Longitude:</th>' +
      '<td>' + <%= m.longitude %> +
      '</tr>' +
      '</table>' +
      '</div>';
var infoWindow =  new google.maps.InfoWindow;
bindInfoW(marker, contentString, infoWindow);
 
  <% end %>
function bindInfoW(marker, contentString, infoWindow) {
  google.maps.event.addListener(marker, 'click', function() {
    infoWindow.setContent(contentString);
    infoWindow.open(map, marker);
  });
 }
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>
 
 <body id="content2">

 <div id="map-canvas" style="float:center"> <br ></div>
  <% if !signed_in? %>
  <% if !adminsigned_in? %>
<%= link_to "Admin Log In", adminsignin_path %>
      <% else %>
<%= link_to "Admin Log Out", adminsignout_path %>
<% end %>
<% else %>
  User must be logged out before admin can log in
     <% end %> 
  </body>
 </center>
 <div  style="float:left;width:45%; height:50%; margin:2%">
  <a class="twitter-timeline" href="https://twitter.com/aaroadwatch" data-widget-id="433665295937327104" style="float:left;">Tweets by @aaroadwatch</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
 <div style="float:right;width:45%; height:50%; margin:2%">
<a class="twitter-timeline" href="https://twitter.com/GardaTraffic" data-widget-id="433673439446962176">Tweets by @GardaTraffic</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> 
</div>

