<center>
  <% if !signed_in? %>
  Please sign in to plan your journey
      <% else %>
  <%end %>

 <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script>
var rendererOptions = {
  draggable: true
};
var directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);;
var directionsService = new google.maps.DirectionsService();
var map;

var middleMap = new google.maps.LatLng(53.227755, -7.878802);

function initialize() {
  var mapOptions = {
    zoom: 8,
    center: middleMap,
    scrollwheel: false
  };

map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  <% @markers.each do |m| %>                  
      var bridge = new google.maps.LatLng(<%= m.latitude %>, <%= m.longitude %>);
      //var address = <%= m.address %>;
      var infoWindow = new google.maps.InfoWindow({ content: contentString2, maxWidth: 500});
      var marker = new google.maps.Marker({position:bridge});
     google.maps.event.addListener(marker, 'click', function() {
      infoWindow.open(map, marker);
     });
      marker.setMap(map);

      var contentString = '<div style="width:250px; height:190px;" class="info-window">' +
      '<h5>Bridge Details</h5>' +
      '<table border="0" cellpadding="0" cellspacing="0" class="contact">' +
      '<tr>' +
      '<th scope="row">Address:</th>' +
      '</tr>' +
      '<th scope="row">County:</th>' +
      '<td>' + <%= m.latitude %>+ '</td>' +
      '</tr>' +
      '<th scope="row">Height:</th>' +
      '<td>' + <%= m.height %>+ '</td>' +
      '</tr>' +
      
      '<th scope="row">Latitude:</th>' +
      '<td>' + <%= m.latitude %> + '<br />' +
      '</tr>' +
      '<th scope="row">Longitude:</th>' +
      '<td>' + <%= m.longitude %> +
      '</tr>' +
      '</table>' +
      '</div>';


var contentString2 = '<div class="info-window">' +
        '<h5>Bridge Details</h5>' +
        '<table border="0" cellpadding="0" cellspacing="0" class="contact">' +
        '<tr>' +
        '<th scope="row">Address:</th>' +
      '</tr>' +
      '<th scope="row">County:</th>' +
      '<td>' + <%= m.latitude %>+ '</td>' +
      '</tr>' +
      '<th scope="row">Height:</th>' +
      '<td>' + <%= m.height %>+ '</td>' +
      '</tr>' +
      
      '<th scope="row">Latitude:</th>' +
      '<td>' + <%= m.latitude %> + '<br />' +
      '</tr>' +
      '<th scope="row">Longitude:</th>' +
      '<td>' + <%= m.longitude %> +
      '</tr>' +
      '</table>' +
      '</div>'

   
     
 
  <% end %>


  directionsDisplay.setMap(map);
  directionsDisplay.setPanel(document.getElementById('directionsPanel'));

  google.maps.event.addListener(directionsDisplay, 'directions_changed', function() {
    computeTotalDistance(directionsDisplay.getDirections());
  });

}


function calcRoute() {

  var startPoint = document.getElementById("start").value
  var endPoint = document.getElementById("dest").value
  var stopPoint = document.getElementById("stop").value
  
  
  var request = {
    origin: startPoint,
    destination: endPoint,
  //if(stopPoint !=null) {
    waypoints:[{location: stopPoint}],
    
  //}
  //else {
  //  alert("Please add stop off point!");
  //  }
  travelMode: google.maps.TravelMode.DRIVING
  };
  directionsService.route(request, function(response, status) {
    if (status == google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);
    }
  });
}

var bridge1 = new google.maps.LatLng(53.712105	-7.743023);
	var bMarker = new google.maps.Marker({
		position:bridge1,
	});
	bMarker.setMap(map);
	
function computeTotalDistance(result) {
  var total = 0;
  var myroute = result.routes[0];
  for (var i = 0; i < myroute.legs.length; i++) {
    total += myroute.legs[i].distance.value;
  }
  total = total / 1000.0;
  document.getElementById('total').innerHTML = "Total Distance: " + total + ' km';
}
  
	
	
google.maps.event.addDomListener(window, 'load', initialize);

</script>
 
 <body>

 <div id="map-canvas" style="float:center"> <br ></div>

 </center>


 <div style="float:left;width:45%; height:50%; margin:2%">
  <a class="twitter-timeline" href="https://twitter.com/aaroadwatch" data-widget-id="433665295937327104" style="float:left;">Tweets by @aaroadwatch</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
 <div style="float:right;width:45%; height:50%; margin:2%">
<a class="twitter-timeline" href="https://twitter.com/GardaTraffic" data-widget-id="433673439446962176">Tweets by @GardaTraffic</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> 
</div>
</body>
