<%= form_for(@vehicle) do |f| %>
  <% if @vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% @vehicle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :reg %><br />
    <%= f.text_field :reg %>
  </div>
  <div class="field">
    <%= f.label :decription %><br />
    <%= f.text_field :decription %>
  </div>
  <div class="field">
    <%= f.label :height %><br />
    <%= f.text_field :height %>
  </div>

  <div class="field">
    <%= f.label "Trailer" %><br />
    <%= check_box_tag :truck %>
  </div>
  <% if check_box_tag :truck =>true %>
    <div class="field">
    <%= f.label "Trailer Height" %><br />
    <%= f.text_field :trailer %>
   <% else %>
           <%= f.label "Trailer Height" %><br />
               <%= f.text_field "None" %>

    </div>
   <% end %>
  
     <div class="field">
      Car image uploader:
       <%= f.file_field :carImageUploader %>
  </div>
   

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
