<%= form_for(@vehicle) do |f| %>
  <% if @vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
       <div align="center"><% @vehicle.errors.full_messages.each do |msg| %>
       <li><%= msg %></li> </div>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :reg %><br />
    <%= f.text_field :reg %>
  </div>
  <div class="field">
    <%= f.label :decription %><br />
    <%= f.text_field :decription %>
  </div>
  <div class="field">
    <%= f.label "Height (m)" %><br />
    <%= f.text_field :height %>
  </div>

  <div class="field">
    <%= f.label "Trailer" %><br />
    <%= check_box_tag :truck %>
  </div>

    <div id="ddd">
    <%= f.label "Trailer Height(m)" %><br />
    <%= f.text_field :trailer %>
  </div>
  <br />
     <div class="field">
      Car image uploader: <br />
       <%= f.file_field :carImageUploader %>
  </div> <br />
   

  <div class="actions">
    <%= f.submit %>
  </div>
  <br />
<% end %>
