<center><h1>Vehicles</h1>

<table class="hovertable">
  <tr>
    <th>Reg</th>
    <th>Decription</th>
    <th></th>
    <th>Height</th>
    <th>Trailer Height</th>
    <th>Owner</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vehicles.each do |vehicle| %>
  <tr>
    <td><%= vehicle.reg %></td>
    <td><%= vehicle.decription %></td>
    <td><img src="<%= vehicle.carImageUploader %>"width="75" height="45"></td>
    <td><%= vehicle.height  %> Meters</td>
    <td><%= vehicle.trailer  %> Meters</td>
    <td><%= vehicle.user.name %></td>
   <td><%= link_to 'View', vehicle %></td>
    <td><%= link_to 'Update', edit_vehicle_path(vehicle) %></td>
    <td><%= link_to 'Delete', vehicle, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<br />

<%= link_to 'New Vehicle', new_vehicle_path %>
