<center><p id="notice"><%= notice %></p>

<p>
  <b>Reg:</b>
  <%= @vehicle.reg %>
</p>

<p>
  <b>Decription:</b>
  <%= @vehicle.decription %>
</p>

<p>
  <b>Height:</b>
  <%= @vehicle.height %> Meters
</p>
<b>Trailer Height:</b>
<% if @vehicle.trailerheight == nil %>
        <td>  No Trailer  </td>
        <% else %>
  <%= @vehicle.trailerheight %> Meters
      <% end %> 
  </p>  

<p>
  <b> </b>  <br />

<img src="<%= @vehicle.carImageUploader %>"width="350" height="250">
</p>
<p>
  <b>User:</b>
  <%= @vehicle.user.name %>
</p>


<%= link_to 'Edit Vehicle', edit_vehicle_path(@vehicle) %> |
<% if !signed_in? %>
    <%= link_to 'Home', pages_home_path %>
     <% else %>
             <%= link_to "Back to Profile", user_path(@current_user) %>

          <%end %>
