<center><p id="notice"><%= notice %></p>

<p>
  <b>Reg:</b>
  <%= @vehicle.reg %>
</p>

<p>
  <b>Decription:</b>
  <%= @vehicle.decription %>
</p>

<p>
  <b>Height:</b>
  <%= @vehicle.height %> Meters
</p>

<p>
  <b> </b>  <br />
        <%= image_tag(@vehicle.carimage, :size=> "350x250") %> <br>

</p>

<p>
  <b>User:</b>
  <%= @vehicle.user.name %>
</p>


<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
