<!DOCTYPE html>
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Seymour+One' rel='stylesheet' type='text/css'>

	<div id="mydiv"; align= "center">
	<%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<link rel="shortcut icon" href="/assets/favicon.ico" />
 <% if !adminsigned_in? %>
<%= link_to "Admin Log In", adminsignin_path %>
      <% else %>
<%= link_to " Out", adminsignout_path %>
Signed in as <%= @current_admin.name %> 
<% end %>
    <title>Route Planner Pro</title>
    <% if !signed_in? %>
			<% else %>
		<div id= "mydiv" align = "right">Signed in as <%= @current_user.name %> <br>
		 <img src="<%= @current_user.profileImage%> "width="85" height="85"align = "right" </td></div>
	<%end %>

<h1>Route Planner Pro</h1>
<h4>helping you get to your destination safely</h4>
</head>
</div>
<body>
 <div id= "mydiv2">
	<ul>
		 <% if !signed_in? %>
	 	 <li><%= link_to "Sign In", signin_path %></li>
	 	 <% else %>
	 	 	 <li><%= link_to "Profile", user_path(@current_user) %></li>
	 	 	 	 	<%end %>

	 	 <li><%= link_to "Home", pages_home_path %></li>
		 <li><%= link_to "Help", pages_help_path %></li>
		  <% if !signed_in? %>
			<% else %>
	 	 	 	 <li><%= link_to "Sign Out", signout_path %></li>
	 	 	 	 <li><%= link_to "Plan your Journey", about_path %></li>
		 	<%end %>

 		 <li><%= link_to "Bridge Locations", markers_path %></li>
	</ul>
</div>
</body>
 <% else %>
 <ul>
 	 <% if !adminsigned_in? %>
	 	 <li><%= link_to "Home", pages_home_path %></li>
		 
			<% else %>
			<%if !adminsigned_in? %>
	 	 <li><%= link_to "Home", pages_home_path %></li>
		 <li><%= link_to "Help", pages_help_path %></li>
 		 <li><%= link_to "Test Page", pages_contact_path %></li>
		 <li><%= link_to "Plan your Journey", pages_help_path %></li>
 	 	 <li><%= link_to "Sign Out", adminsignout_path %></li>
 	 	 <li><%= link_to "About", about_path %></li>
 		 <li><%= link_to "Bridge Locations", markers_path %></li>

		 	<%end %>
 		 <% end %>
	</ul>

<div id="content">
<%= yield -%>
</div>
</html>
