<!DOCTYPE html>
<html>
<head>

	<div id="div1"; align= "center">
	<%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<link rel="shortcut icon" href="/assets/favicon.ico" />
 <% if !adminsigned_in? %>
      <% else %>
Signed in as Admin <b><%= @current_admin.name %></b> <%= link_to "(Sign Out)", adminsignout_path %>
<% end %>
<% if !signed_in? %>
			<% else %>
		<div id= "div1" align = "right">Signed in as <b><%= link_to @current_user.name, user_path(@current_user)  %></b>
		<img src="<%= @current_user.profileImage%>" width="85" height="85" align = "right"></td></div> 
	<%end %>
    <title>Route Planner Pro</title>
    
<div>
<h1 id="h1style"><i>Route Planner Pro</i></h1> 
<h3 id="h3style"><i>Helping you get to your destination safely</i></h3>
</head>
</div>
<body>
		 <% if !adminsigned_in? %>
 <div id= "menubar">  
	<ul id= "userul" style="height:50px;"> <br />
		 <% if !signed_in? %>
	 	 <li><%= link_to "Sign In", signin_path %></li>
	 	 <% else %>
	 	 	<li><%= link_to "Sign Out", signout_path %></li>
	 	 <%end %>
	 	 <li><%= link_to "Home", pages_home_path %></li>
 		 <li><%= link_to "Bridge Locations", markers_path %></li>
 		 <li><%= link_to "About", about_path %></li>
	</ul>
	<% if signed_in? %>
	<div> <%= form_tag('/help') do %>
		<%= select_tag "vehicles", options_from_collection_for_select(@vehicles, "id", "decription"), prompt: "Select your vehicle" %>	
		<%= submit_tag 'Submit Vehicle to Plan your Journey with' %> <br /></div>
	<% end %>
	<% end %>
</div>
 <% else %>
  <div id= "adminmenubar">  
	<ul id= "adminul" style="height:50px;"> <br />
 	 <% if !adminsigned_in? %>		 
	     <% else %>
	 	 <li><%= link_to "Home", pages_home_path %></li>
 		 <li><%= link_to "Test Page", pages_contact_path %></li>
 		 <% if !adminsigned_in? %>
		 <li><%= link_to "Plan your Journey", pages_help_path %></li>
 		 <% else %>
 		 <%end %>
 		 <li><%= link_to "Bridge Locations", markers_path %></li>
  		 <li><%= link_to "Users", users_path %></li>
  	 	 <li><%= link_to "Settings", admin_path(@current_admin)%></li>

 	<%end %>
	 <% end %>
	</ul>
</div>
</body>

<%= yield -%>
</div>
</html>
